extends layout

block content
  - if (messages.incorrectCredentialsMsg)
      .alert.alert-danger.col-md-3.col-md-offset-2(role="alert")
        span=messages.incorrectCredentialsMsg
  - if (messages.unauthorizedUser)
    .alert.alert-danger.col-md-3.col-md-offset-2(role="alert")
      span=messages.unauthorizedUser[0]
  form.col-md-12(action="/" method="post")
    div(class = "input-group col-md-6")
      span.input-group-addon#username Username
      input.form-control(type="text" name="username" id="username" placeholder="Username" aria-describedby="username")
    div(class = "input-group col-md-6")
      span.input-group-addon#password Password
      //label.form-control(for="password") Password:
      input.form-control(type="password" name="password" id="password" placeholder="Password")
    div(class = "input-group col-md-6")
      input(type="submit" value="Log In")
  div.col-md-6#register
    ul(class = "nav nav-pills col-md-2")
      li.active(role="presentation")
        a(href="/register") Register