extends layout

block content
    .container-fluid#usersContainer
        .row.col-md-12
            h1.col-md-6 Users
            div.col-md-2#logout
                ul(class = "nav nav-pills")
                    li.active(role="presentation")
                        a(href="users/logout") Logout
            div.col-md-4#books
                ul(class = "nav nav-pills")
                    li.active(role="presentation")
                        a(href="/books") Go to Books List

        script(id='userTemplate' type = 'text/x-handlebars-template').
            {{#each this}}
                <div class = "row col-lg-6 users">
                    <ul class="list-group">
                        <li id="firstName" class="list-group-item">First Name: <span>{{firstName}}</span></li>
                        <li id="lastName" class="list-group-item">Last Name: <span>{{lastName}}</span></li>
                        <li id="username" class="list-group-item">Username: <span>{{username}}</span></li>
                        <li id="email" class="list-group-item">Email: <span>{{email}}</span></li>
                    </ul>
                </div>
            {{/each}}

    script(src='./assets/scripts/users.min.js' type='text/javascript')